.popup {
  display: flex;
  justify-content: space-around;

  .popup-input {
    margin-top: 2rem;

    label {
      display: block;
      font-weight: bold;
      font-size: 2rem;
    }

    input {
      border: 2px solid orange;
      padding: 1rem;
      font-size: 1.8rem;
      font-weight: bold;

      &::placeholder {
        font-weight: bold;
        color: black;
        font-size: 2rem;
      }
    }
  }
}